<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>s_wzmj_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1278,176},{40,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,57}}</string>
                <key>sourceSize</key>
                <string>{40,57}</string>
            </dict>
            <key>s_wzmj_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1175,2},{67,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,91}}</string>
                <key>sourceSize</key>
                <string>{67,91}</string>
            </dict>
            <key>s_wzmj_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1106,95},{67,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,91}}</string>
                <key>sourceSize</key>
                <string>{67,91}</string>
            </dict>
            <key>s_wzmj_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1106,2},{67,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,91}}</string>
                <key>sourceSize</key>
                <string>{67,91}</string>
            </dict>
            <key>s_wzmj_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1037,95},{67,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,91}}</string>
                <key>sourceSize</key>
                <string>{67,91}</string>
            </dict>
            <key>s_wzmj_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1037,2},{67,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,91}}</string>
                <key>sourceSize</key>
                <string>{67,91}</string>
            </dict>
            <key>s_wzmj_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,95},{67,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,91}}</string>
                <key>sourceSize</key>
                <string>{67,91}</string>
            </dict>
            <key>s_wzmj_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,2},{67,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,91}}</string>
                <key>sourceSize</key>
                <string>{67,91}</string>
            </dict>
            <key>s_wzmj_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{899,95},{67,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,91}}</string>
                <key>sourceSize</key>
                <string>{67,91}</string>
            </dict>
            <key>s_wzmj_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{899,2},{67,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,91}}</string>
                <key>sourceSize</key>
                <string>{67,91}</string>
            </dict>
            <key>s_wzmj_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,95},{67,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,91}}</string>
                <key>sourceSize</key>
                <string>{67,91}</string>
            </dict>
            <key>s_wzmj_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,2},{67,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,91}}</string>
                <key>sourceSize</key>
                <string>{67,91}</string>
            </dict>
            <key>s_wzmj_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{761,95},{67,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,91}}</string>
                <key>sourceSize</key>
                <string>{67,91}</string>
            </dict>
            <key>s_wzmj_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{761,2},{67,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,91}}</string>
                <key>sourceSize</key>
                <string>{67,91}</string>
            </dict>
            <key>s_wzmj_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,95},{67,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,91}}</string>
                <key>sourceSize</key>
                <string>{67,91}</string>
            </dict>
            <key>s_wzmj_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,2},{67,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,91}}</string>
                <key>sourceSize</key>
                <string>{67,91}</string>
            </dict>
            <key>s_wzmj_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{623,95},{67,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,91}}</string>
                <key>sourceSize</key>
                <string>{67,91}</string>
            </dict>
            <key>s_wzmj_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{623,2},{67,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,91}}</string>
                <key>sourceSize</key>
                <string>{67,91}</string>
            </dict>
            <key>s_wzmj_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,95},{67,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,91}}</string>
                <key>sourceSize</key>
                <string>{67,91}</string>
            </dict>
            <key>s_wzmj_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,2},{67,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,91}}</string>
                <key>sourceSize</key>
                <string>{67,91}</string>
            </dict>
            <key>s_wzmj_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,95},{67,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,91}}</string>
                <key>sourceSize</key>
                <string>{67,91}</string>
            </dict>
            <key>s_wzmj_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,2},{67,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,91}}</string>
                <key>sourceSize</key>
                <string>{67,91}</string>
            </dict>
            <key>s_wzmj_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,95},{67,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,91}}</string>
                <key>sourceSize</key>
                <string>{67,91}</string>
            </dict>
            <key>s_wzmj_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,2},{67,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,91}}</string>
                <key>sourceSize</key>
                <string>{67,91}</string>
            </dict>
            <key>s_wzmj_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,95},{67,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,91}}</string>
                <key>sourceSize</key>
                <string>{67,91}</string>
            </dict>
            <key>s_wzmj_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,2},{67,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,91}}</string>
                <key>sourceSize</key>
                <string>{67,91}</string>
            </dict>
            <key>s_wzmj_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,95},{67,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,91}}</string>
                <key>sourceSize</key>
                <string>{67,91}</string>
            </dict>
            <key>s_wzmj_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,2},{67,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,91}}</string>
                <key>sourceSize</key>
                <string>{67,91}</string>
            </dict>
            <key>s_wzmj_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,95},{67,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,91}}</string>
                <key>sourceSize</key>
                <string>{67,91}</string>
            </dict>
            <key>s_wzmj_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,2},{67,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,91}}</string>
                <key>sourceSize</key>
                <string>{67,91}</string>
            </dict>
            <key>s_wzmj_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,95},{67,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,91}}</string>
                <key>sourceSize</key>
                <string>{67,91}</string>
            </dict>
            <key>s_wzmj_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,2},{67,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,91}}</string>
                <key>sourceSize</key>
                <string>{67,91}</string>
            </dict>
            <key>s_wzmj_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,95},{67,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,91}}</string>
                <key>sourceSize</key>
                <string>{67,91}</string>
            </dict>
            <key>s_wzmj_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,2},{67,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,91}}</string>
                <key>sourceSize</key>
                <string>{67,91}</string>
            </dict>
            <key>s_wzmj_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,95},{67,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,91}}</string>
                <key>sourceSize</key>
                <string>{67,91}</string>
            </dict>
            <key>wzmj_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{67,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,91}}</string>
                <key>sourceSize</key>
                <string>{67,91}</string>
            </dict>
            <key>wzmj_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1234,176},{42,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,63}}</string>
                <key>sourceSize</key>
                <string>{42,63}</string>
            </dict>
            <key>wzmj_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1190,176},{42,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,63}}</string>
                <key>sourceSize</key>
                <string>{42,63}</string>
            </dict>
            <key>wzmj_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1240,132},{42,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,63}}</string>
                <key>sourceSize</key>
                <string>{42,63}</string>
            </dict>
            <key>wzmj_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1175,71},{42,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,63}}</string>
                <key>sourceSize</key>
                <string>{42,63}</string>
            </dict>
            <key>wzmj_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1175,132},{42,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,63}}</string>
                <key>sourceSize</key>
                <string>{42,63}</string>
            </dict>
            <key>wzmj_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1268,67},{42,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,63}}</string>
                <key>sourceSize</key>
                <string>{42,63}</string>
            </dict>
            <key>wzmj_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1268,2},{42,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,63}}</string>
                <key>sourceSize</key>
                <string>{42,63}</string>
            </dict>
            <key>wzmj_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1146,188},{42,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,63}}</string>
                <key>sourceSize</key>
                <string>{42,63}</string>
            </dict>
            <key>wzmj_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1102,188},{42,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,63}}</string>
                <key>sourceSize</key>
                <string>{42,63}</string>
            </dict>
            <key>wzmj_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1058,188},{42,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,63}}</string>
                <key>sourceSize</key>
                <string>{42,63}</string>
            </dict>
            <key>wzmj_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1014,188},{42,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,63}}</string>
                <key>sourceSize</key>
                <string>{42,63}</string>
            </dict>
            <key>wzmj_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,188},{42,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,63}}</string>
                <key>sourceSize</key>
                <string>{42,63}</string>
            </dict>
            <key>wzmj_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,188},{42,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,63}}</string>
                <key>sourceSize</key>
                <string>{42,63}</string>
            </dict>
            <key>wzmj_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,188},{42,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,63}}</string>
                <key>sourceSize</key>
                <string>{42,63}</string>
            </dict>
            <key>wzmj_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,188},{42,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,63}}</string>
                <key>sourceSize</key>
                <string>{42,63}</string>
            </dict>
            <key>wzmj_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,188},{42,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,63}}</string>
                <key>sourceSize</key>
                <string>{42,63}</string>
            </dict>
            <key>wzmj_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,188},{42,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,63}}</string>
                <key>sourceSize</key>
                <string>{42,63}</string>
            </dict>
            <key>wzmj_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,188},{42,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,63}}</string>
                <key>sourceSize</key>
                <string>{42,63}</string>
            </dict>
            <key>wzmj_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,188},{42,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,63}}</string>
                <key>sourceSize</key>
                <string>{42,63}</string>
            </dict>
            <key>wzmj_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,188},{42,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,63}}</string>
                <key>sourceSize</key>
                <string>{42,63}</string>
            </dict>
            <key>wzmj_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,188},{42,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,63}}</string>
                <key>sourceSize</key>
                <string>{42,63}</string>
            </dict>
            <key>wzmj_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,188},{42,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,63}}</string>
                <key>sourceSize</key>
                <string>{42,63}</string>
            </dict>
            <key>wzmj_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,188},{42,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,63}}</string>
                <key>sourceSize</key>
                <string>{42,63}</string>
            </dict>
            <key>wzmj_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,188},{42,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,63}}</string>
                <key>sourceSize</key>
                <string>{42,63}</string>
            </dict>
            <key>wzmj_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,188},{42,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,63}}</string>
                <key>sourceSize</key>
                <string>{42,63}</string>
            </dict>
            <key>wzmj_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,188},{42,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,63}}</string>
                <key>sourceSize</key>
                <string>{42,63}</string>
            </dict>
            <key>wzmj_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,188},{42,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,63}}</string>
                <key>sourceSize</key>
                <string>{42,63}</string>
            </dict>
            <key>wzmj_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,188},{42,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,63}}</string>
                <key>sourceSize</key>
                <string>{42,63}</string>
            </dict>
            <key>wzmj_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,188},{42,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,63}}</string>
                <key>sourceSize</key>
                <string>{42,63}</string>
            </dict>
            <key>wzmj_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,188},{42,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,63}}</string>
                <key>sourceSize</key>
                <string>{42,63}</string>
            </dict>
            <key>wzmj_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,188},{42,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,63}}</string>
                <key>sourceSize</key>
                <string>{42,63}</string>
            </dict>
            <key>wzmj_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,188},{42,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,63}}</string>
                <key>sourceSize</key>
                <string>{42,63}</string>
            </dict>
            <key>wzmj_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,188},{42,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,63}}</string>
                <key>sourceSize</key>
                <string>{42,63}</string>
            </dict>
            <key>wzmj_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,188},{42,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,63}}</string>
                <key>sourceSize</key>
                <string>{42,63}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wzmj_card.png</string>
            <key>size</key>
            <string>{1320,253}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a296a56adc3c68fe040156315fe3564d$</string>
            <key>textureFileName</key>
            <string>wzmj_card.png</string>
        </dict>
    </dict>
</plist>
